In [2]:
def cleanData(taxiData):
    
    print("Removing Vendor ID")
    taxiData = taxiData.drop('VendorID', axis=1)
    #Passenger Count: Remove rows where  is negative/zero
                    #If not remove, replace by 2( Avg passenger count)
                    #Remove count >7 or <=0
    print("DONE")
    print("Split Dates")

    #split#Pickup
    taxiData['Pickup_Date'] = (taxiData.tpep_pickup_datetime.str.partition(' ')[0])
    taxiData['Pickup_Time'] = (taxiData.tpep_pickup_datetime.str.partition(' ')[2])
    #split dropoff
    taxiData['Dropoff_Date'] = (taxiData.tpep_dropoff_datetime.str.partition(' ')[0])
    taxiData['Dropoff_Time'] = (taxiData.tpep_dropoff_datetime.str.partition(' ')[2])
    print("DONE")

    print("Convert to Date Time")
    #Pickup date & Time - Convert 
    taxiData['tpep_pickup_datetime'] = pd.to_datetime(taxiData['tpep_pickup_datetime'])
    taxiData['Pickup_Date'] = pd.to_datetime(taxiData['Pickup_Date'])
    #Pickup date & Time - Convert 
    taxiData['tpep_dropoff_datetime'] = pd.to_datetime(taxiData['tpep_dropoff_datetime'])
    taxiData['Dropoff_Date'] = pd.to_datetime(taxiData['Dropoff_Date'])
    print("DONE")

    print("Assign week_number")
    #Assign week number -  Monday=0, Sunday=6
    taxiData['Day_of_week'] = taxiData['tpep_pickup_datetime'].dt.dayofweek
    print("DONE")

    #->Workday/Not FLag
    print("Assigning Workday flag")
    taxiData["Workday_flag"]=1
    taxiData.loc[((taxiData['Pickup_Date']=='2016-01-01')|
                  (taxiData['Pickup_Date']=='2016-01-18')|
                  (taxiData['Pickup_Date']=='2016-02-12')|
                  (taxiData['Pickup_Date']=='2016-02-15')|
                  (taxiData['Pickup_Date']=='2016-05-30')|
                  (taxiData['Pickup_Date']=='2016-07-04')|
                  (taxiData['Pickup_Date']=='2016-09-15')|
                  (taxiData['Pickup_Date']=='2016-10-10')|
                  (taxiData['Pickup_Date']=='2016-11-08')|
                  (taxiData['Pickup_Date']=='2016-11-11')|
                  (taxiData['Pickup_Date']=='2016-11-24')|
                  (taxiData['Pickup_Date']=='2016-12-25')|
                  (taxiData['Day_of_week']==5)|
                  (taxiData['Day_of_week']==6)),['Workday_flag']]=0

    print("DONE")



    print("Assign weekend flag")
    #weekend/Not flag   
    taxiData["Weekend_flag"]=0
    taxiData.loc[((taxiData['Day_of_week']==5)|
                  (taxiData['Day_of_week']==6)),['Weekend_flag']]=1
    print("DONE")

    print("Cleaning passenger_count")
    #Cleaning passenger_count
    taxiData = taxiData[taxiData.passenger_count.notnull()] #removes rows with null coount
    taxiData = taxiData[(taxiData.passenger_count != 0)]#removes zero and above 8 passenger count
    taxiData = taxiData[(taxiData.passenger_count < 8)]
    ("DONE")

    #calculating Trip-Time & removing rows with elapsed trip time as zero

    print("calculating Trip-Time & Cleaning based on time")
    taxiData["Triptime"] = taxiData["tpep_dropoff_datetime"]-taxiData["tpep_pickup_datetime"]
    taxiData = taxiData[(taxiData.Triptime !=  "00:00:00")]
    print("DONE")

    #199,725

    print("Cleaning based on trip distance and fare amount")
    #Trip distance: Remove all trips that have distance zero and price above $5 (679 rows off 200,000)
    taxiData = taxiData[(taxiData.trip_distance > 0)]
    ##198416

    #remove negative prices trips (206)
    taxiData = taxiData[(taxiData.fare_amount > 0)]
    print("DONE") #198210

    print("Negative extra charges")
    #remove negative extra chahrges - 91 rows
    taxiData = taxiData[(taxiData.extra >= 0)]
    print("DONE")

    print("Removing unnecessary columns")
    columnsTODelete =  ['extra', 'mta_tax','tip_amount',"tolls_amount","improvement_surcharge","total_amount", "payment_type", "store_and_fwd_flag"]
    taxiData.drop(columnsTODelete, axis=1, inplace=True)
    print("DONE")
    
#     Rounding coordinates to 4 decimal points
#     taxiData.round({'dropoff_longitude': 4, 'dropoff_latitude': 4, 'pickup_longitude' : 4,'pickup_latitude' : 4})
    taxiData['dropoff_longitude'] = taxiData['dropoff_longitude'].round(4) 
    taxiData['dropoff_latitude'] = taxiData['dropoff_latitude'].round(4)
    taxiData['pickup_longitude'] = taxiData['pickup_longitude'].round(4)
    taxiData['pickup_latitude'] = taxiData['pickup_latitude'].round(4)
    
    
    #     Rounding coordinates to 2 decimal points in new column
    taxiData['pickup_latitude_2decimal'] = taxiData['pickup_latitude']
    taxiData['dropoff_latitude_2decimal'] = taxiData['dropoff_latitude']
    taxiData['pickup_longitude_2decimal'] = taxiData['pickup_longitude']
    taxiData['dropoff_longitude_2decimal'] = taxiData['dropoff_longitude']
#     taxiData.round({'dropoff_longitude_2decimal': 2, 'dropoff_latitude_2decimal': 2, 'pickup_longitude_2decimal' : 2,'pickup_latitude_2decimal' : 2})
    taxiData['pickup_latitude_2decimal'] = taxiData['pickup_latitude_2decimal'].round(2) 
    taxiData['dropoff_latitude_2decimal'] = taxiData['dropoff_latitude_2decimal'].round(2)
    taxiData['pickup_longitude_2decimal'] = taxiData['pickup_longitude_2decimal'].round(2)
    taxiData['dropoff_longitude_2decimal'] = taxiData['dropoff_longitude_2decimal'].round(2)
    #     Removing Outliers

#     coordinates = 40.941211, -74.207382 : coordinated = 40.456034, -73.757629
#     keeping where lat is less than max and greater than min
    print("removing records out of nyc boundary")
    taxiData = taxiData[(taxiData['pickup_latitude'] < 40.9412)]
    taxiData = taxiData[(taxiData['pickup_latitude'] > 40.4560)]
    taxiData = taxiData[(taxiData['pickup_longitude'] < -73.7576)]
    taxiData = taxiData[(taxiData['pickup_longitude'] > -74.2073)]
    taxiData = taxiData[(taxiData['dropoff_latitude'] < 40.9412)]
    taxiData = taxiData[(taxiData['dropoff_latitude'] > 40.4560)]
    taxiData = taxiData[(taxiData['dropoff_longitude'] < -73.7576)]
    taxiData = taxiData[(taxiData['dropoff_longitude'] > -74.2073)]
    print("removed records out of nyc boundary")
    
# Keeping where trip distance is less than 10 miles
    taxiData = taxiData[(taxiData.trip_distance < 10)]
#     fare amount >0 and < 50
    taxiData = taxiData[(taxiData.fare_amount > 0)]
    taxiData = taxiData[(taxiData.fare_amount < 50)]
    
#  Triptime > 1 minute and < 3 hour
    taxiData = taxiData[(taxiData.Triptime >  "00:01:00")]
    taxiData = taxiData[(taxiData.Triptime <  "03:00:01")]

# Ratecode id 1 to 6
    taxiData = taxiData[(taxiData.RatecodeID >= 1)]
    taxiData = taxiData[(taxiData.RatecodeID <= 6)]
    
#     Converting Triptime to seconds
    taxiData['Triptime'] = (pd.to_timedelta(taxiData['Triptime'],unit='d')).astype('timedelta64[s]')
    
#    Adding Hour of the day
    taxiData['Hour_of_day'] = taxiData['tpep_pickup_datetime'].dt.hour
    
    return taxiData

In [3]:
import pandas as pd
import numpy as np
# encoding = "ISO-8859-1",
fullData = None
for i in range (1,2):
    if(i<10):
        fn = "0" + str(i)
    else:
        fn = str(i)
        
    for taxiData in pd.read_csv("/home/sneha/Documents/ADS /Finals/Data/yellow_tripdata_2016-05.csv", sep=",", chunksize = 200000, iterator = True):        
        print("Shape = " + str(taxiData.shape))
        taxiData = cleanData(taxiData)

        try:
            fullData = pd.concat([fullData, taxiData])
        except:
            fullData = taxiData
        break
    fullData.to_csv("/home/sneha/Documents/ADS /Finals/Data/cleaned_yellow_tripdata_2016_Cleaned.csv", sep=',', index = False)

Shape = (200000, 19)
Removing Vendor ID
DONE
Split Dates
DONE
Convert to Date Time
DONE
Assign week_number
DONE
Assigning Workday flag
DONE
Assign weekend flag
DONE
Cleaning passenger_count
calculating Trip-Time & Cleaning based on time
DONE
Cleaning based on trip distance and fare amount
DONE
Negative extra charges
DONE
Removing unnecessary columns
DONE
removing records out of nyc boundary
removed records out of nyc boundary

In [65]:
fullData.shape

(182263, 23)

In [4]:
fullData.head()
list(fullData)
df = pd.DataFrame() # create new SF
#df["pickup Density"] = fullData[""].groupby(['Pickup_Date', 'Hour_of_day', 'pickup_latitude_2decimal', 'pickup_longitude_2decimal']).agg(['count'])
#Get the pick up counts
key_columns = ['Pickup_Date', 'Hour_of_day', 'pickup_latitude_2decimal', 'pickup_longitude_2decimal']
df = fullData.groupby(key_columns, as_index=False)["fare_amount"].count()
#Rename Fare Amount column
df = df.rename(columns={'fare_amount': 'count_of_pickups'})
#Get Weekend/Weekday Flag & Day of Week Flag
print("Assign week_number")
#Assign week number -  Monday=0, Sunday=6
df['Day_of_week'] = taxiData['Pickup_Date'].dt.dayofweek
print("DONE")

#->Workday/Not FLag
print("Assigning Workday flag")
df["Workday_flag"]=1
df.loc[((df['Pickup_Date']=='2016-01-01')|
              (df['Pickup_Date']=='2016-01-18')|
              (df['Pickup_Date']=='2016-02-12')|
              (df['Pickup_Date']=='2016-02-15')|
              (df['Pickup_Date']=='2016-05-30')|
              (df['Pickup_Date']=='2016-07-04')|
              (df['Pickup_Date']=='2016-09-15')|
              (df['Pickup_Date']=='2016-10-10')|
              (df['Pickup_Date']=='2016-11-08')|
              (df['Pickup_Date']=='2016-11-11')|
              (df['Pickup_Date']=='2016-11-24')|
              (df['Pickup_Date']=='2016-12-25')|
              (df['Day_of_week']==5)|
                  (df['Day_of_week']==6)),['Workday_flag']]=0
#drop NAs
df.dropna(how='any')

Assign week_number
DONE
Assigning Workday flag

,Pickup_Date,Hour_of_day,pickup_latitude_2decimal,pickup_longitude_2decimal,count_of_pickups,Day_of_week,Workday_flag
0,2016-05-01,0,40.62,-74.03,1,6.0,0
1,2016-05-01,0,40.63,-74.03,1,6.0,0
2,2016-05-01,0,40.63,-73.97,1,6.0,0
3,2016-05-01,0,40.63,-73.96,1,6.0,0
4,2016-05-01,0,40.64,-74.02,1,6.0,0
5,2016-05-01,0,40.64,-73.98,2,6.0,0
6,2016-05-01,0,40.64,-73.97,1,6.0,0
7,2016-05-01,0,40.64,-73.79,7,6.0,0
11,2016-05-01,0,40.65,-73.96,4,6.0,0
12,2016-05-01,0,40.65,-73.93,1,6.0,0
13,2016-05-01,0,40.65,-73.84,1,6.0,0
15,2016-05-01,0,40.65,-73.78,13,6.0,0
16,2016-05-01,0,40.66,-74.00,3,6.0,0
17,2016-05-01,0,40.66,-73.99,4,6.0,0
18,2016-05-01,0,40.66,-73.98,1,6.0,0
19,2016-05-01,0,40.66,-73.96,6,6.0,0
20,2016-05-01,0,40.66,-73.79,5,6.0,0
22,2016-05-01,0,40.67,-73.99,26,6.0,0
23,2016-05-01,0,40.67,-73.98,16,6.0,0
24,2016-05-01,0,40.67,-73.97,1,6.0,0
25,2016-05-01,0,40.67,-73.96,7,6.0,0
26,2016-05-01,0,40.67,-73.95,6,6.0,0
27,2016-05-01,0,40.67,-73.93,2,6.0,0
28,2016-05-01,0,40.68,-74.02,2,6.0,0
29,2016-05-01,0,40.68,-74.01,7,6.0,0
30,2016-05-01,0,40.68,-74.00,20,6.0,0
31,2016-05-01,0,40.68,-73.99,41,6.0,0
32,2016-05-01,0,40.68,-73.98,69,6.0,0
33,2016-05-01,0,40.68,-73.97,35,6.0,0
34,2016-05-01,0,40.68,-73.96,29,6.0,0
...,...,...,...,...,...,...,...
3468,2016-05-05,8,40.77,-73.87,19,2.0,1
3469,2016-05-05,8,40.77,-73.86,8,2.0,1
3470,2016-05-05,8,40.78,-73.99,7,2.0,1
3471,2016-05-05,8,40.78,-73.98,110,2.0,1
3472,2016-05-05,8,40.78,-73.97,15,2.0,1
3473,2016-05-05,8,40.78,-73.96,151,2.0,1
3474,2016-05-05,8,40.78,-73.95,99,2.0,1
3475,2016-05-05,8,40.78,-73.94,9,2.0,1
3476,2016-05-05,8,40.78,-73.91,2,2.0,1
3477,2016-05-05,8,40.79,-73.98,31,2.0,1
3478,2016-05-05,8,40.79,-73.97,92,2.0,1
3479,2016-05-05,8,40.79,-73.96,22,2.0,1
3480,2016-05-05,8,40.79,-73.95,52,2.0,1
3481,2016-05-05,8,40.79,-73.94,14,2.0,1
3482,2016-05-05,8,40.80,-73.97,52,2.0,1
3483,2016-05-05,8,40.80,-73.96,27,2.0,1
3484,2016-05-05,8,40.80,-73.95,9,2.0,1
3485,2016-05-05,8,40.80,-73.94,11,2.0,1
3486,2016-05-05,8,40.80,-73.93,4,2.0,1
3487,2016-05-05,8,40.81,-73.96,10,2.0,1
3488,2016-05-05,8,40.81,-73.95,8,2.0,1
3489,2016-05-05,8,40.81,-73.94,5,2.0,1
3490,2016-05-05,8,40.82,-73.96,5,2.0,1
3491,2016-05-05,8,40.82,-73.95,4,2.0,1
3493,2016-05-05,8,40.83,-73.95,2,2.0,1
3494,2016-05-05,8,40.84,-73.95,1,2.0,1
3495,2016-05-05,8,40.84,-73.94,3,2.0,1
3496,2016-05-05,8,40.85,-73.93,1,2.0,1
3497,2016-05-05,8,40.86,-73.93,1,2.0,1
3498,2016-05-05,8,40.87,-73.92,3,2.0,1

In [72]:
len(df)

3499

In [71]:
#df["Pickup_Date"].unique()
#len(df)

,Pickup_Date,Hour_of_day,pickup_latitude_2decimal,pickup_longitude_2decimal,count_of_pickups,Day_of_week,Workday_flag
0,2016-05-01,0,40.62,-74.03,1,6.0,0
1,2016-05-01,0,40.63,-74.03,1,6.0,0
2,2016-05-01,0,40.63,-73.97,1,6.0,0
3,2016-05-01,0,40.63,-73.96,1,6.0,0
4,2016-05-01,0,40.64,-74.02,1,6.0,0
5,2016-05-01,0,40.64,-73.98,2,6.0,0
6,2016-05-01,0,40.64,-73.97,1,6.0,0
7,2016-05-01,0,40.64,-73.79,7,6.0,0
11,2016-05-01,0,40.65,-73.96,4,6.0,0
12,2016-05-01,0,40.65,-73.93,1,6.0,0
13,2016-05-01,0,40.65,-73.84,1,6.0,0
15,2016-05-01,0,40.65,-73.78,13,6.0,0
16,2016-05-01,0,40.66,-74.00,3,6.0,0
17,2016-05-01,0,40.66,-73.99,4,6.0,0
18,2016-05-01,0,40.66,-73.98,1,6.0,0
19,2016-05-01,0,40.66,-73.96,6,6.0,0
20,2016-05-01,0,40.66,-73.79,5,6.0,0
22,2016-05-01,0,40.67,-73.99,26,6.0,0
23,2016-05-01,0,40.67,-73.98,16,6.0,0
24,2016-05-01,0,40.67,-73.97,1,6.0,0
25,2016-05-01,0,40.67,-73.96,7,6.0,0
26,2016-05-01,0,40.67,-73.95,6,6.0,0
27,2016-05-01,0,40.67,-73.93,2,6.0,0
28,2016-05-01,0,40.68,-74.02,2,6.0,0
29,2016-05-01,0,40.68,-74.01,7,6.0,0
30,2016-05-01,0,40.68,-74.00,20,6.0,0
31,2016-05-01,0,40.68,-73.99,41,6.0,0
32,2016-05-01,0,40.68,-73.98,69,6.0,0
33,2016-05-01,0,40.68,-73.97,35,6.0,0
34,2016-05-01,0,40.68,-73.96,29,6.0,0
...,...,...,...,...,...,...,...
3468,2016-05-05,8,40.77,-73.87,19,2.0,1
3469,2016-05-05,8,40.77,-73.86,8,2.0,1
3470,2016-05-05,8,40.78,-73.99,7,2.0,1
3471,2016-05-05,8,40.78,-73.98,110,2.0,1
3472,2016-05-05,8,40.78,-73.97,15,2.0,1
3473,2016-05-05,8,40.78,-73.96,151,2.0,1
3474,2016-05-05,8,40.78,-73.95,99,2.0,1
3475,2016-05-05,8,40.78,-73.94,9,2.0,1
3476,2016-05-05,8,40.78,-73.91,2,2.0,1
3477,2016-05-05,8,40.79,-73.98,31,2.0,1
3478,2016-05-05,8,40.79,-73.97,92,2.0,1
3479,2016-05-05,8,40.79,-73.96,22,2.0,1
3480,2016-05-05,8,40.79,-73.95,52,2.0,1
3481,2016-05-05,8,40.79,-73.94,14,2.0,1
3482,2016-05-05,8,40.80,-73.97,52,2.0,1
3483,2016-05-05,8,40.80,-73.96,27,2.0,1
3484,2016-05-05,8,40.80,-73.95,9,2.0,1
3485,2016-05-05,8,40.80,-73.94,11,2.0,1
3486,2016-05-05,8,40.80,-73.93,4,2.0,1
3487,2016-05-05,8,40.81,-73.96,10,2.0,1
3488,2016-05-05,8,40.81,-73.95,8,2.0,1
3489,2016-05-05,8,40.81,-73.94,5,2.0,1
3490,2016-05-05,8,40.82,-73.96,5,2.0,1
3491,2016-05-05,8,40.82,-73.95,4,2.0,1
3493,2016-05-05,8,40.83,-73.95,2,2.0,1
3494,2016-05-05,8,40.84,-73.95,1,2.0,1
3495,2016-05-05,8,40.84,-73.94,3,2.0,1
3496,2016-05-05,8,40.85,-73.93,1,2.0,1
3497,2016-05-05,8,40.86,-73.93,1,2.0,1
3498,2016-05-05,8,40.87,-73.92,3,2.0,1