In [1]:
import pandas as pd
fn = "01"
taxiData = pd.read_csv("Data/cleaned_yellow_tripdata_2016-" + fn + ".csv", sep=",")

weatherData = pd.read_csv("Data/weatherDataCleaned.csv")

In [2]:
taxiData.shape

(180214, 23)

In [3]:
weatherData.shape

(10406, 13)

In [4]:
# Join Datasets
# Pickup_Date Hour_of_day
# date hour

fullData = pd.merge(taxiData, weatherData,  how='inner', left_on=['Pickup_Date','Hour_of_day'], right_on = ['date','hour'])
fullData.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,fare_amount,...,Humidity,Sea_Level_PressureIn,VisibilityMPH,Wind_Direction,Wind_SpeedMPH,PrecipitationIn,Conditions,WindDirDegrees,date,hour
0,2016-01-01 00:00:00,2016-01-01 00:18:30,2,5.52,-73.9801,40.7430,1,-73.9135,40.7631,19.0,...,51,30.06,10.0,Variable,4.6,NaN,Overcast,0,2016-01-01,0
1,2016-01-01 00:00:00,2016-01-01 00:26:45,2,7.45,-73.9941,40.7200,1,-73.9664,40.7899,26.0,...,51,30.06,10.0,Variable,4.6,NaN,Overcast,0,2016-01-01,0
2,2016-01-01 00:00:01,2016-01-01 00:11:55,1,1.20,-73.9794,40.7446,1,-73.9920,40.7539,9.0,...,51,30.06,10.0,Variable,4.6,NaN,Overcast,0,2016-01-01,0
3,2016-01-01 00:00:02,2016-01-01 00:11:14,1,6.00,-73.9472,40.7910,1,-73.9208,40.8656,18.0,...,51,30.06,10.0,Variable,4.6,NaN,Overcast,0,2016-01-01,0
4,2016-01-01 00:00:02,2016-01-01 00:11:08,1,3.21,-73.9983,40.7239,1,-73.9958,40.6884,11.5,...,51,30.06,10.0,Variable,4.6,NaN,Overcast,0,2016-01-01,0

In [6]:
fullData.to_csv("Data/CombinedData.csv")